/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #eff0f2;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR */
.navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
     background-color: black;
     color: #fff;
     position: fixed;
     width:100%;
}
.nav-links a {
    color: #fff;
}
/* LOGO */
.logo a {
    font-size: 28px;
    color: #fff;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
     background-color: #A6ACAF;
     border-radius: 5px;
     transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

main{
    padding-top: 72px;
}

/* Description */
.description {
    margin: 40px auto 48px;
    bottom-top: 40px;
}

.description div{
    width: 800px;
}

/* Bookmakers-info */
.bookmakers-info {
    margin: 40px auto 48px;
}

.bookmakers-info div{
    width: 1000px;
}

.bookmakers-info-row {display: flex;}
.bookmakers-info-column-left {flex: 35%;}
.bookmakers-info-column-right {flex: 65%;}

/* The sidebar menu */

.input {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 72px;
    background-color: #D7DBDD;
    padding-top: 20px;
}

.output {
    padding-left: 200px;
}

/* Selector */

.selector label {
  display: inline-block;
  width: 140px;
  text-align: left;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.selector p {
  display: inline-block;
  width: 140px;
  text-align: left;
  color: black;
  padding-bottom: 5px;
  font-size: 12px;
}

.selector select {
    height:30px;
	width:180px;
	font-size: 100%;
	background: #fff;
    border-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.73);
    padding: 2px 0px 1px 16px;
}

.selector input[type=number] {
    height:30px;
	width:180px;
	font-size: 100%;
	background: #fff;
    border-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.73);
    padding: 2px 0px 1px 16px;
}

.selector input[type=submit] {
    height:30px;
    width:70px;
    background: #2E86C1;
	color: black;
	border: 1px solid #2E86C1;
	border-radius: 20px;
}
.selector input[type=submit]:hover {
	background: #1B4F72;
	color: #fff;
	border: 1px solid #1B4F72;
	border-radius: 20px;
}

/* Table */
.table {
  border-collapse: collapse;
  width: 1000px;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding-right: 48px;
  padding-left: 48px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}
.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #D7DBDD;
}

.table button {
    color: black;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background: transparent;
    border: none !important;
    font-size: 100%;
}

.fork {
  border-collapse: collapse;
  width: 1000px;
}

.fork td, .fork th {
  padding-right: 48px;
  padding-left: 48px;
  text-align: center;
}

.fork tr:nth-child(even){background-color: #f2f2f2;}
.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #D7DBDD;
}

.bet {
    width: 1000px;
}

button {
    height:50px;
    width:140px;
    background: #2E86C1;
	color: black;
	border: 1px solid #2E86C1;
	border-radius: 20px;
}

button:hover {
	background: #1B4F72;
	color: #fff;
	border: 1px solid #1B4F72;
	border-radius: 20px;
}
