<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bookmakers aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/">DataBet</a></div>
        <ul class="nav-links">
            <div class="menu">
                <li><a href="/bet">Коэффициенты</a></li>
                <li><a href="/fork">Вилки</a></li>
                <li><a href="/info">Информация</a></li>
            </div>
        </ul>
    </nav>

    <main>
        <div class="selector" align="middle">
            <br>
            <div class="input" align="middle">
                <div class="input-1">
                {% if select1 is none %}
                <form action="" method="POST">
                    <div>
                        <br><a href=# id=test><button class='btn btn-default'>Обновить </br> коэффициенты!</button></a></br>
                        <br><progress id="myprogressBar"></progress></br>
                    </div>
                    <div>
                        <br>
                            <h4>Команда 1:</h4>
                            <select name="select-1">
                                <optgroup>
                                    <option>{{ select1 }}</option>
                                    {% for country1 in countries1%}
                                    <option>{{ country1 }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </br>
                    </div>
                    <br>
                    <input type="submit" value="submit">
                    </br>
                </form>
                {% endif %}

                {% if (select1 is not none) and (select2 is none) %}
                <form action="" method="POST">
                    <div>
                        <br><a href=# id=test><button class='btn btn-default'>Обновить </br> коэффициенты!</button></a></br>
                        <br><progress id="myprogressBar"></progress></br>
                    </div>
                    <div>
                        <br>
                            <h4>Команда 1:</h4>
                            <select name="select-1">
                                <optgroup>
                                    <option>{{ select1 }}</option>
                                    {% for country1 in countries1%}
                                    <option value={{ country1 }}>{{ country1 }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </br>
                        <br>
                            <h4>Команда 2:</h4>
                            <select name="select-2">
                                <optgroup>
                                    <option>{{ select2 }}</option>
                                    {% for country2 in countries2%}
                                    <option value={{ country2 }}>{{ country2 }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </br>
                    </div>
                    <br>
                    <input type="submit" value="submit">
                    </br>
                </form>
                {% endif %}

                {% if select2 is not none %}
                <form action="" method="POST">
                    <div>
                        <br><a href=# id=test><button class='btn btn-default'>Обновить </br> коэффициенты!</button></a></br>
                        <br><progress id="myprogressBar"></progress></br>
                    </div>
                    <div>
                        <br>
                            <h4>Команда 1:</h4>
                            <select name="select-1">
                                <optgroup>
                                    <option>{{ select1 }}</option>
                                    {% for country1 in countries1%}
                                    <option value={{ country1 }}>{{ country1 }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </br>
                        <br>
                            <h4>Команда 2:</h4>
                            <select name="select-2">
                                <optgroup>
                                    <option>{{ select2 }}</option>
                                    {% for country2 in countries2%}
                                    <option value={{ country2 }}>{{ country2 }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </br>
                    </div>
                    <br>
                        <input type="submit" value="submit">
                    </br>
                </form>
                {% endif %}
                </div>
            </div>
            </br>

            <br>
            <div class="output" align="right">

            {% if indexes is not none %}
                <div align="middle">

                    <h1>Таблица коэффициентов</br>букмекеров</h1>

                    <br>
                    <div class="table" vspace="60">
                        <table id="table_id" class="display">
                            <thead>
                            <tr>
                                <th></th>
                                <th><button onclick="sortTable(1)">{{ select1 }}</button></th>
                                <th><button onclick="sortTable(2)">Ничья</button></th>
                                <th><button onclick="sortTable(3)">{{ select2 }}</button></th>
                                <th><button onclick="sortTable(4)">Маржа</button></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for index in indexes%}
                            <tr>
                                <td><a href={{ link[index] }}><img src={{ logo[index] }} width="100"></a></td>
                                <td>{{ tcoef1[index] }}</td>
                                <td>{{ tdraw[index] }}</td>
                                <td>{{ tcoef2[index] }}</td>
                                <td>{{ marga[index] }} %</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </br>
                </div>

                <div align="middle">
                    <br>
                    {% if (indexes|length > 0) and (indexes2 is none) %}
                    <div class="fork" vspace="60">
                        <h1>Вилок нет!</h1>
                    </div>
                    {% endif %}

                    {% if (indexes|length > 0) and (indexes2 is not none) %}
                    <div class="fork" vspace="60">
                        <h2>Есть вилка!</h2>
                        <br>
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ select1 }}</th>
                                    <th>Ничья</th>
                                    <th>{{ select2 }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Лучшие <br/> коэффициенты:</td>
                                    <td>{{ best_coef[0] }}</br><a href={{ best_link[0] }}><img src={{ best_logo[0] }} width="120"></a></td>
                                    <td>{{ best_coef[1] }}</br><a href={{ best_link[1] }}><img src={{ best_logo[1] }} width="120"></a></td>
                                    <td>{{ best_coef[2] }}</br><a href={{ best_link[2] }}><img src={{ best_logo[2] }} width="120"></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </br>
                    </div>
                    {% endif %}
                    </br>
                </div>
                <div class="table-3" align="center">
                    <br>
                    <h1>Таблица наших коэффициентов</h1>
                    <h3>(с 2 исходами)</h3>
                    </br>
                    <br>
                    {% for table in tables %}
                        {{ table|safe }}
                    {% endfor %}
                    </br>
                </div>
                <div class="table-3" align="center">
                    <br>
                    <h1>Таблица наших коэффициентов</h1>
                    <h3>(с 3 исходами)</h3>
                    </br>
                    <br>
                    {% for table in tables3 %}
                        {{ table|safe }}
                    {% endfor %}
                    </br>
                </div>
            {% endif %}

            </div>
            </br>

        </div>
        <div>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
        </div>

    </main>
    <script>
    function sortTable(num) {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("table_id");
      switching = true;
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[num];
          y = rows[i + 1].getElementsByTagName("TD")[num];
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#test').on('click', function(e) {

              var element = document.getElementById("myprogressBar");
              var width = 1;
              var identity = setInterval(scene, 10);
              function scene() {
              if (width >= 100) {
              clearInterval(identity);
                } else {
                    width++;
                    element.style.width = width + '%';
                    }
                }

                e.preventDefault()
                $.getJSON('/background_process_test',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
</body>
</html>