<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bookmakers aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.css">
    <script type="text/javascript" charset="utf8" src="DataTables/datatables.js"></script>
</head>
<body>
    <nav class="navbar">
     <div class="logo"><a href="/">DataBet</a></div>
     <ul class="nav-links">
       <div class="menu">
            <li><a href="/data">Data</a></li>
            <li><a href="/fork">Fork</a></li>
            <li><a href="/info">Info</a></li>
       </div>
     </ul>
   </nav>

    <main>
        <div class="selector" align="middle">
            <br>
            <div class="input" align="middle">
                {% if select1==None %}
                <form action="" method="POST">
                    <label>Выбери первую команду:</label>
                    <select name="select-1">
                        <optgroup>
                        {% for country1 in countries1%}
                        <option value={{ country1 }}>{{ country1 }}</option>
                        {% endfor %}
                        </optgroup>
                    </select>
                    <input type="submit" value="✔️">
                </form>
                {% endif %}
                {% if select1!=None %}
                <form action="" method="POST">
                    <br>
                    <label>Выбери первую команду:</label>
                    <select name="select-1">
                        <optgroup>
                        <option selected="selected">{{ select1 }}</option>
                        {% for country1 in countries1%}
                        <option value={{ country1 }}>{{ country1 }}</option>
                        {% endfor %}
                        </optgroup>
                    </select>
                    <input type="submit" value="✔">
                    </br>
                    <br>
                    <label>Выбери вторую команду:</label>
                    <select name="select-2">
                        <optgroup>
                        {% if select2!=None %}
                        <option selected="selected">{{ select2 }}</option>
                        {% endif %}
                        {% for country2 in countries2%}
                        <option value={{ country2 }}>{{ country2 }}</option>
                        {% endfor %}
                        </optgroup>
                    </select>
                    <input type="submit" value="✔">
                    </br>
                </form>
                {% endif %}
            </div>
            </br>

            {% if select2!=None %}
            <div class="output" align="middle">
                <br>
                <div class="table" vspace="60">
                    <table id="table_id" class="display">
                        <thead>
                        <tr>
                            <th>БК</th>
                            <th>{{ select1 }}</th>
                            <th>Ничья</th>
                            <th>{{ select2 }}</th>
                            <th>Маржа</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index in indexes%}
                        <tr>
                            <td><a href={{ link[index] }}><img src={{ logo[index] }} width="100"></a></td>
                            <td>{{ coef1[index] }}</td>
                            <td>{{ draw[index] }}</td>
                            <td>{{ coef2[index] }}</td>
                            <td>{{ marga[index] }} %</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </br>
            </div>
            {% endif %}
        </div>
    </main>
    {% block scripts %}
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
    {% endblock %}
</body>
</html>