<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bookmakers aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/">DataBet</a></div>
        <ul class="nav-links">
            <div class="menu">
                <li><a href="/bet">Коэффициенты</a></li>
                <li><a href="/fork">Вилки</a></li>
                <li><a href="/info">Информация</a></li>
            </div>
        </ul>
    </nav>

    <main>
        <div class="selector" align="middle">
            <br>
            <div class="input" align="middle">
                <form action="" method="POST">
                    <label>Депозит:</label>
                    <br>
                        <input type="number" step="1" min="1" max="100000" value={{ deposit }} name="deposit"/>
                    </br>
                    <label>Коэффициенты:</label>
                    <br>
                        <p>Коэффициент на команду 1:</p>
                        <br>
                            <input type="number" step="any" value={{ coef1 }} name="coef-1"/>
                        </br>
                        <p>Коэффициент на ничью:</p>
                        <br>
                            <input type="number" step="any" value={{ draw }} name="draw"/>
                        </br>
                        <p>Коэффициент на команду 2:</p>
                        <br>
                            <input type="number" step="any" value={{ coef2 }} name="coef-2"/>
                        </br>
                    </br>
                    <br>
                    <input type="submit" value="submit">
                    </br>
                </form>

            </div>
            </br>

            <br>
            <div class="output">
                <div class='table'>
                    <br>
                        <br>
                        <div class="bet">
                            <h1>Расчет ставки</h1>
                            <div class="table" vspace="60">
                            <br>
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Команда 1</th>
                                        <th>Ничья</th>
                                        <th>Команда 2</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Коэффициенты:</td>
                                        <td>{{ coefs[0] }}</td>
                                        <td>{{ coefs[1] }}</td>
                                        <td>{{ coefs[2] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Ставка:</td>
                                        <td>{{ best_bet[0] }}</td>
                                        <td>{{ best_bet[1] }}</td>
                                        <td>{{ best_bet[2] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Чистый выигрыш:</td>
                                        <td>{{ profit[0] }}</td>
                                        <td>{{ profit[1] }}</td>
                                        <td>{{ profit[2] }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </br>
                            </div>
                        </div>
                        </br>
                        {% if tables is defined and tables|length > 0 %}
                        <div class="bet">
                            <br>
                            <h1>Вилки, которые удалось обнаружить</br>в ставках на ЧМ: </h1>
                            </br>
                            <br>
                            <div align="center">
                                {% for table in tables %}
                                    {{ table|safe }}
                                {% endfor %}
                            </div>
                            </br>

                        </div>
                        {% endif %}
                    </br>
                </div>
            </div>
            </br>
        </div>
        <div>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
        </div>
    </main>
</body>
</html>