<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bookmakers aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/">DataBet</a></div>
        <ul class="nav-links">
            <div class="menu">
                <li><a href="/bet">Коэффициенты</a></li>
                <li><a href="/fork">Вилки</a></li>
                <li><a href="/info">Информация</a></li>
            </div>
        </ul>
    </nav>

    <main>
        <div align="middle">
            <div class="description" align="middle">
                <br>
                <br>
                <br>
                <img class="img" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/2022_FIFA_World_Cup.svg/1200px-2022_FIFA_World_Cup.svg.png"
                     alt="fifa 2022 logo" width="150" vspace="60">
                <br>
                <br>
                <br>
                <div>
                    <br>
                    <h1>DataBet - это агрегатор букмекерских контор, позволяющий находить лучшие коэффициенты на
                        победу в <a href="https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022">Чемпионате мира по футболу 2022</a> </h1>
                    </br>
                </div>
            </div>

        </div>
    </main>

</body>
</html>