<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bookmakers aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
     <div class="logo"><a href="/">DataBet</a></div>
     <ul class="nav-links">
       <div class="menu">
            <li><a href="/data">Data</a></li>
            <li><a href="/fork">Fork</a></li>
            <li><a href="/info">Info</a></li>
       </div>
     </ul>
   </nav>

    <main>
        <div align="middle">
            <p>Описание приложения</p>
            <li><a href="/data">Data</a></li>
            <li><a href="/fork">Fork</a></li>
            <li><a href="/info">Fork</a></li>
        </div>
    </main>

</body>
</html>