{% if coefs is not none %}
                    <div class="table" vspace="60">
                        <br>
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Команда 1</th>
                                    <th>Ничья</th>
                                    <th>Команда 2</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Коэффициенты:</td>
                                    <td>{{ coefs[0] }}</td>
                                    <td>{{ coefs[1] }}</td>
                                    <td>{{ coefs[2] }}</td>
                                </tr>
                                <tr>
                                    <td>Ставка:</td>
                                    <td>{{ best_bet[0] }}</td>
                                    <td>{{ best_bet[1] }}</td>
                                    <td>{{ best_bet[2] }}</td>
                                </tr>
                                <tr>
                                    <td>Чистый выигрыш:</td>
                                    <td>{{ profit[0] }}</td>
                                    <td>{{ profit[1] }}</td>
                                    <td>{{ profit[2] }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </br>
                    </div>
                    {% endif %}