<!DOCTYPE html>
<html>
    <style>
        #Progress_Status {
          width: 50%;
          background-color: #ddd;
        }
        #myprogressBar {
          width: 2%;
          height: 20px;
          background-color: #4CAF50;
        }
        </style>
    <head>
        <title>Upload</title>
    </head>
    <body>
        <form method=POST enctype=multipart/form-data action="{{ url_for('data_page') }}">
            <input onclick="update()">
        </form>
        <div class="progress">
            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

    </body>
</html>